#container{
    display: flex;
    justify-content: center;
}

#square-container{
width: 960px;
height: 960px;
display: flex;
justify-content: flex-start;
border: .5em double black;
padding: .25em;
}

.color{
background-color: black;

}


body{
    text-align: center;
}


